<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <!--<httpRuntime maxRequestLength="2097151" encoderType="System.Web.Security.AntiXss.AntiXssEncoder"/>-->

    <httpRuntime maxRequestLength="2000000" targetFramework="4.8" encoderType="System.Web.Security.AntiXss.AntiXssEncoder" />
    <sessionState timeout="20" />
    <customErrors mode="Off" defaultRedirect="~\Error.aspx">
      <error statusCode="403" redirect="~\Error.aspx" />
      <error statusCode="404"  redirect="~\Error.aspx" />
    </customErrors>
    <trace enabled="false" />
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages>
  </system.web>
  <connectionStrings>
    <add name="MIPASS" connectionString="Data Source=10.9.246.173;Initial Catalog=MIPASS;User ID=sa;pwd=sys123$" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SmsKey" value="3fd03678-b243-496c-bbe1-a2e8cf220b23" />
    <add key="SmsUserID" value="KUMGOK" />
    <add key="SmsURL" value="https://msdgweb.mgov.gov.in/esms/sendsmsrequestDLT" />
    <add key="FromMail" value="investmeghalaya@gmail.com" />
    <add key="FromMailPwd" value="hjqkcpdmqybawzth" />
    <add key="IsBodyHtml" value="true" />
    <add key="Host" value="smtp.gmail.com" />
    <add key="Port" value="587" />
    <add key="UseDefaultCredentials" value="false" />
    <add key="EnableSsl" value="true" />
    <add key="IsAttchmentsAllowed" value="true" />
    <add key="IsServer" value="true" />
    <add key="FileSize" value="5000000" />
    <add key="PreRegAttachments" value="D:\MeghalayaAttachments\PreRegAttachments\" />
    <add key="CFEAttachments" value="D:\MeghalayaAttachments\CFEAttachments\" />
    <add key="CFOAttachments" value="D:\MeghalayaAttachments\CFOAttachments\" />
    <add key="RENAttachments" value="D:\MeghalayaAttachments\RENAttachments\" />
    <add key="Ammendments" value="D:\MeghalayaAttachments\Ammendments\" />
    <add key="GrievanceAttachments" value="D:\MeghalayaAttachments\GrievanceAttachments\" />
    <add key="HelpDeskAttachments" value="D:\MeghalayaAttachments\HelpDeskAttachments\" />

  </appSettings>
  <system.webServer>
    <modules>
      <add name="QueryStringModule" type="QueryStringModule" />
    </modules>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <add verb="OPTIONS" allowed="false" />
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--sowjanya-->
        <remove name="Server"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <remove name="X-Server"/>
        <!--sowjanya-->
        <remove name="X-Powered-By" />
        <!--<add name="Content-Security-Policy" value= "script-src 'self' 'unsafe-inline' 'unsafe-eval' e.g. https://ajax.googleapis.com https://ssif1.globalsign.com https://malsup.github.io https://seal.globalsign.com https://www.googletagmanager.com https://www.google.com https://www.gstatic.com https://assets.zendesk.com https://chimpstatic.com https://cdn.ywxi.net https://static.hotjar.com https://maxcdn.bootstrapcdn.com https://www.google-analytics.com https://static.zdassets.com https://connect.facebook.net https://script.hotjar.com https://*.livechatinc.com; style-src 'unsafe-inline' 'self' https://cdn-uicons.flaticon.com/2.3.0/uicons-bold-rounded/css/uicons-bold-rounded.css https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css; img-src 'self';" />-->
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate, pre-check=0, post-check=0, max-age=0, s-maxage=0" />
        <add name="X-Frame-Options" value="sameorigin" />
        <add name="X-Xss-Protection" value="1; mode=block" />
        <!--<add name="X-Content-Type-Options" value="nosniff "/>-->
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin" />
        <add name="Permissions-Policy" value="geolocation=(), camera=(), microphone=()" />
      </customHeaders>
    </httpProtocol>
    <!--sowjanya-->
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="Home.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="~/ErrorPage.aspx" responseMode="Redirect"/>
    </httpErrors>
    <!--sowjanya-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>